<main class="container my-5">
    <div *ngIf="message" class="alert alert-success mt-3 text-center">{{ message }}</div>
	<div *ngIf="error" class="alert alert-danger mt-3 text-center">{{ error }}</div>
    <h2 class="text-center mb-5 text-primary">Juegos de {{ categoryName }}</h2>

    <section id="search-filter" class="row mb-4 gx-3 justify-content-center">
        <div class="col-md-5 col-lg-4 mb-3">
            <input type="text" id="search-input" class="form-control" placeholder="Buscar videojuegos..." [(ngModel)]="searchTerm" (ngModelChange)="filterGames()">
        </div>
        <div class="col-md-3 col-lg-2 mb-3">
            <select id="platform-filter" class="form-select" [(ngModel)]="selectedPlatform" (ngModelChange)="filterGames()">
                <option value="">Todas las plataformas</option>
                <option *ngFor="let platform of availablePlatforms" [value]="platform">{{ platform }}</option>
            </select>
        </div>
        <div class="col-md-3 col-lg-2 mb-3">
            <select id="genre-filter" class="form-select" [(ngModel)]="selectedGenre" (ngModelChange)="filterGames()">
                <option value="">Todos los géneros</option>
                <option *ngFor="let genre of availableGenres" [value]="genre">{{ genre }}</option>
            </select>
        </div>
    </section>

    <section id="games" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <ng-container *ngIf="filteredGames.length > 0; else noGamesFound">
            <div class="col" *ngFor="let game of filteredGames">
                <app-game-card [game]="game" (addGameToLibrary)="handleAddToLibrary($event)" (viewDetails)="openGameDetailModal($event)"></app-game-card>
            </div>
        </ng-container>
        <ng-template #noGamesFound>
            <div class="col-12 text-center text-light">
                <p>No se encontraron juegos para esta categoría con los filtros aplicados.</p>
            </div>
        </ng-template>
    </section>
</main>

<app-game-detail-modal [game]="selectedGameForModal"></app-game-detail-modal>