<header class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
	<div class="container">
		<a class="navbar-brand text-primary" routerLink="/inicio">
			<i class="fas fa-gamepad me-2 text-primary"></i> ReGamesCreative
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" routerLink="/" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact: true}">Inicio</a>
				</li>
				<li class="nav-item dropdown">
					<button onkeypress="" class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategories" data-bs-toggle="dropdown" aria-expanded="false">Categorías</button>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownCategories">
						<li><a class="dropdown-item" routerLink="/categorias/accion">Acción</a></li>
						<li><a class="dropdown-item" routerLink="/categorias/rpg">RPG</a></li>
						<li><a class="dropdown-item" routerLink="/categorias/aventura">Aventura</a></li>
						<li><a class="dropdown-item" routerLink="/categorias/estrategia">Estrategia</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" routerLink="/">Ver Todas</a></li>
					</ul>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item" *ngIf="!(authService.currentUser | async)">
					<a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
				</li>
				<li class="nav-item" *ngIf="!(authService.currentUser | async)">
					<a class="nav-link" routerLink="/register" routerLinkActive="active">Registro</a>
				</li>
				<li class="nav-item dropdown" *ngIf="(authService.currentUser | async) as user">
					<button onkeypress="" class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user-circle me-2"></i>{{ user.username }}</button>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUser">
						<li>
							<h6 class="dropdown-header">Rol: {{ user.role | titlecase }}</h6>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" routerLink="/profile">Mi Perfil</a></li>
						<li><a class="dropdown-item" routerLink="/my-librery" routerLinkActive="active">Mi Biblioteca</a></li>
						<li><a class="dropdown-item" routerLink="/favorites" routerLinkActive="active">Favoritos</a></li>
						<li><a class="dropdown-item" (click)="logout()">Cerrar Sesión</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</header>