<main class="container my-5 d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="card-body shadow-lg p-4 p-md-5" style="max-width: 500px; width: 100%;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4 text-light display-6 fw-bold">Recuperar Contraseña</h2>
            <div *ngIf="message" class="alert alert-success mt-3 text-center">{{ message }}</div>
		    <div *ngIf="error" class="alert alert-danger mt-3 text-center">{{ error }}</div>
            <form (ngSubmit)="onSubmit()" id="recovery-form" novalidate>
                <div class="mb-3">
                    <label for="recoveryEmailInput" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="recoveryEmailInput" placeholder="tu@ejemplo.com" [(ngModel)]="email" name="email" required>
                    <div class="invalid-feedback">Correo inválido.</div>
                </div>
                <div class="mb-3">
                    <label for="recoveryEmailInput" class="form-label">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="recoveryPasswordInput" placeholder="********" [(ngModel)]="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="recoveryEmailInput" class="form-label">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="recoveryConfirmPasswordInput" placeholder="********" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                </div>
                <div class="d-grid gap-2 mb-3">
                    <button type="submit" class="btn btn-primary btn-lg">Cambiar contraseña</button>
                </div>
                <p class="text-center">
                    <a routerLink="/login" class="text-primary text-decoration-none">Volver al Login</a>
                </p>
            </form>
        </div>
    </div>
</main>